.asset{
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: max-content 25% 1fr 10% 10%;    
    column-gap: 8px;
    padding: 0 4px;
    box-sizing: border-box;
    margin: 8px 0 0 0;
    width: 100%;
    min-height: 48px;
    border: 1px solid #DDE3EB;
    border-radius: 6px;

    color: red;
}

.asset__icon{
    max-width:40px;
    max-height: 40px;
    border-radius: 50%;
}

.asset__name{
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.asset__amount{

}

.asset__total{

}

.asset__yield{

}