.header{
    position: relative;
    margin: 115px 0 0 0;
    width: 100%;
    height: min-content;
    
    &__title{
    margin: 0;
    font-size: $font-size--title;
    line-height: $line-height--title;
    color: $text-color;
    
    }
}