@import './Asset/Asset.scss';
@import './Intro/Intro.scss';

html{
  font-size: 15px;
}

body {
  background-color: #ffffff;
}

#root{
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1168px;
  margin: auto;
}