.intro{
    position: relative;
    max-width: 100%;
    margin-left: -173px;
    height: min-content;

    border: 1px solid green;

    &__icon{
        border: 1px solid red;
        width: $icon-size--intro;
        height: $icon-size--intro;
        margin: 12px;
    }

}
