$color-bg:                    #ffffff;

$text-color:                  #000000;  
$text-color--title:           #080317;      
$text-color--shadow:          #8290A3;
 
$font-size:                   1rem;
$font-size--title:            2.4rem;
$font-size--subtitle:         .87rem;

$line-height:                 1.6;
$line-height--title:          1.22;
$line-height--subtitle:       1.54;

 
$font-family:                 'Inter', Arial, sans-serif;
 
$screen-xs:                   0;
$screen-sm:                   425px;
$screen-md:                   768px;
$screen-lg:                   1024px;
$screen-xl:                   1440px;